* {
  box-sizing: border-box;
}

header {
  background-color: rgb(23, 141, 151);
  color: white;
  text-align: center;
  padding: 25px;
}
body {
  margin: 20px;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.video-container {
  width: 100%;
  max-width: 800px; /* Optional: Prevents the video from getting too large on desktop */
  margin: 0 auto;
}

video {
  width: 100%;
  height: auto; /* Forces the browser to scale height proportionally */
  display: block;
}


.navbar {
  height: 50px;
  background-color: rgb(23, 141, 151);
}


aside {
  width: 20%;
  float: left;
  padding: 10px;
}

section {
  width: 40%;
  float: left;
  padding: 10px;
}


article {
  width: 40%;
  float: left;
  padding: 10px;
}

footer {
  display: block;
  clear: both;
  bottom: 0;
  background-color: rgb(23, 141, 151);
  color: white;
  text-align: center;
  padding: 10px;
}


@media screen and (max-width: 600px) {
  aside, section, article {
    width: 100%;
    float: none;
  }
}


img {
  width: 100%;
  height: auto;
}
